@import "../../global.scss";

.card_wrapper {
  min-width: 250px;
  min-height: 250px;
  max-height: 95%;
  border: thin solid rgba(193, 216, 163,.6);

  display: flex;
  flex-flow: column nowrap;
  border-radius: 2px;

  cursor: pointer;

  .card_img {
    max-width: 250px;
    max-height: 150px;
    flex-grow: 1;
    border-radius: 2px 2px 0 0;
  }

  .card_body {
    padding: 10px;
    position: relative;
    flex-grow: 2;
    h4 {
      border-bottom: thin dashed $azul4;
    }
    p {

      overflow: hidden;
      height: inherit;
    }
    label {
    }
    .card_votes {
      position: absolute;
      bottom: 1em;
      left: 1em;
      width: 37px;
      height: 36px;

      border-radius: 56%;
      background-color: $azul4;
      padding: .5rem;
      &:hover ::after{
        content: 'Votes due the Movie db';
        font-size: medium;
        position: absolute;
        top: -2.3em;
        
        background-color: $azul4;
        padding: 10px;
        border-radius: 3px ;
        width: max-content;
      }
      label {
        height: 100%;
        width: 100%;
        text-align: center;
      }
    }
    .card_fav {
      height: 10px;
      width: inherit;
      position: absolute;
      bottom: 1.8em;
      right: .5em;
      cursor: pointer;
      .heart {
        z-index: 4;
        width: 45px;
        height: 45px;
      }
    }
  }
}
